{
  "sourceMaps": true,
  "presets": [
    ["es2015", { "loose":true }],
    "stage-0"
  ],
  "plugins": [
    ["transform-async-to-generator"],
    ["transform-decorators-legacy"],
    ["transform-react-jsx"]
  ],
  "env": {
    "test": {
      "plugins": [
        ["dynamic-import-node"],
        ["module-resolver", {
            "root": ["./src"],
          }]
      ]
    }
  }
}
