@import 'common/style/helpers';

.header {
  background: var(--brand-main);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 10px;
  width: 100%;
  z-index: 50;

  h1 {
    margin: 0;
    padding: 0 15px;
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    font-weight: 400;
    color: #FFF;
  }

  .srcLink {
    .transition(color, background);
    align-items: center;
    display: flex;
    color: var(--nav-link-color);
    padding: 10px;
    text-decoration: underline;
    &:hover {
      background: @black;
      color: @white;
    }

    * {
      cursor: pointer;
      user-select: none;
    }
  }
}

@media (max-width: @tablet-break) {
  .header {
    margin-top: 10px;
    position: initial;
    flex-direction: column;

    .srcLink {
      justify-content: center;
    }
  }
}
