@import 'common/style/cssVariables';
@import 'helpers';

html, body {
	background:                 @body-color;
	color:                      @app-font-main-color-black;
	font-family:                @font-family;
	font-weight:                400;
	height:                     100%;
	margin:                     0;
	padding:                    0;
	width:                      100%;
	-webkit-font-smoothing:     antialiased;
	-moz-osx-font-smoothing:    grayscale;
}

a {
    color:              @app-link-color;
    text-decoration:    none;
}

input, button {
    font-family:                @font-family;
}

h1 {
    user-select:    none;
    cursor:         default;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
