@import 'common/style/helpers';

.appContainer {
    height:     100%;
    margin:     auto;
    min-width:  350px;
    width:      100%;
}

.modalActive {
    height:     100%;
    position:   fixed;
    width:      100%;
}

